* {
    margin: 0;
    padding: 0;
}


/* text  & fonts */

html {
    background: #fff;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #808081;
}

a {
    color: #808081;
    text-decoration: underline;
}

a:hover{
    color: #808081;
}


/* basic page setup */

#wrapper {
    margin: 0 auto;
    width: 900px;
    text-align: center;
}


#header {
    margin: 70px 0 30px 0;
    text-align: center;
}

#main {
    float: left;
    text-align: left;
}

#footer {
    clear: both;
    margin: 0 auto;
    height: 31px;
    text-align: center;
}
    

p {
    margin-bottom: 30px;
}
