* {
    margin: 0;
    padding: 0;
}


/* text  & fonts */

html {
    background: #fff;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #808081;
}

a {
    color: #808081;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}


/* basic page setup */

#wrapper {
    margin: 0 auto;
    width: 900px;
    text-align: center;
}

#header {
    margin-top: 125px;
    margin-bottom: 125px;
    text-align: center;
}

#left, #middle, #right {
    margin-top: 75px;
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
}

#left {width: 400px}
#middle {width: 80px}
#right {width: 400px}

#main {
    margin: 0;
    float: left;
    text-align: left;
}

#footer {
    clear: both;
    margin: 0 auto;
    height: 31px;
    text-align: center;
}
    

p {
    margin-bottom: 30px;
}
